@import '/src/assets/scss/variables/variables-components';

#assessmentForm {
  margin-top: 30px;
  font-size: $base-font-size;
}

.form-control {
  font-size: $base-font-size !important;
}

.formio-component .radio-inline {
  padding-left: 20px;
}

.formio-form .formio-component-reset,
.formio-form .formio-component-submit,
.formio-form .formio-component-Complete {
  display: inline-block;
  margin-right: 10px;
}

.formio-component .has-feedback .form-group label input {
  width: 14px !important;
  height: 14px;
}

.formio-component .formio-component-textfield.required:after,
.formio-component .required:after {
  display: none;
}

.formio-component.gridmargintop {
  margin-top: -11px;
}

.formio-component.gridmargintop table td .form-group {
  margin-bottom: 0;
}

.formio-custdatagrid {
  margin-top: -11px;
}

.form-check.radio {
  position: relative;
  display: block;
  margin: 10px 0;
}

.formio-component-radio label.control-label--hidden {
  top: -5px;
  right: 75px;
}

.formio-component.columnheader,
.formio-component.columnbody {
  display: flex;
  border-top: 1px solid #b8bdc7;
  border-bottom: 1px solid #b8bdc7;
  border-left: 1px solid #b8bdc7;
}

.formio-component.columnheader div,
.formio-component.columnbody div {
  border-right: 1px solid #b8bdc7;
  display: table-footer-group;
}

.formio-component.columnheader {
  background: #f5f5eb;
}

.has-feedback.formio-component {
  padding: 0px 14px;
}

#assessmentForm input[type='radio'],
#assessmentForm .radio-inline input[type='radio'] {
  position: relative !important;
  margin-top: 2px;
  margin-right: 0px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

#assessmentForm label input + span {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
}

#assessmentForm input[type='radio'],
input[type='checkbox'] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

#assessmentForm input[type='checkbox'],
#assessmentForm input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  outline: 0px;
}

#assessmentForm .cont-brd,
assessment-cans-out .cont-brd,
assessment-mfira .cont-brd,
.cont-brd {
  border: 1px solid #ffecef;
  border-radius: 4px;
  padding-bottom: 15px;
}

#assessmentForm input[type='radio']:before,
#assessmentForm .radio input[type='radio']:before,
#assessmentForm .radio-inline input[type='radio']:before {
  position: absolute;
  left: 0;
  top: -3px;
  background-color: $base-color;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);

  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
}

#assessmentForm input[type='radio']:after,
#assessmentForm .radio input[type='radio']:after,
#assessmentForm .radio-inline input[type='radio']:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;

  position: relative;
  top: -3px;
  border: 2px solid #666666;
}

#assessmentForm input[type='radio']:checked:before,
#assessmentForm .radio input[type='radio']:checked:before,
#assessmentForm .radio-inline input[type='radio']:checked:before {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}

#assessmentForm input[type='radio']:checked:after,
#assessmentForm .radio input[type='radio']:checked:after,
#assessmentForm .radio-inline input[type='radio']:checked:after {
  border-color: $base-color;
}

#assessmentForm input[type='checkbox'],
#assessmentForm .radio input[type='checkbox'],
#assessmentForm .radio-inline input[type='checkbox'] {
  position: relative !important;
  margin-top: 0px;
  margin-right: 0px;
  vertical-align: top;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

#assessmentForm input[type='radio'] {
  margin: 7px 0 0;
  line-height: normal;
  margin-top: 3px;
}

#assessmentForm input[type='checkbox'] {
  margin: 7px 0 0;
  line-height: normal;
  margin-top: 0px;
}

#assessmentForm input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

#assessmentForm input[type='checkbox']:before,
#assessmentForm .radio input[type='checkbox']:before,
#assessmentForm .radio-inline input[type='checkbox']:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 2px;
  width: 10px;
  height: 10px;
  z-index: 9;
  border: solid 2px #fff;
  border-left: none;
  border-top: none;

  display: block;
  background-color: $base-color;
  border-radius: 0%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;

  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

#assessmentForm input[type='checkbox']:after,
#assessmentForm .radio input[type='checkbox']:after,
#assessmentForm .radio-inline input[type='checkbox']:after {
  content: '';
  position: relative;
  top: 0px;

  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #666666;
  border-radius: 0%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
}

#assessmentForm input[type='checkbox']:checked:before,
#assessmentForm .radio input[type='checkbox']:checked:before,
#assessmentForm .radio-inline input[type='checkbox']:checked:before {
  -webkit-transform: translate(5.5px, 1px) rotate(45deg);
  -ms-transform: translate(5.5px, 1px) rotate(45deg);
  -o-transform: translate(5.5px, 1px) rotate(45deg);
  transform: translate(5.5px, 1px) rotate(45deg);
}

#assessmentForm ul.list-inline {
  display: flex;
  justify-content: start;
}

#assessmentForm ul.list-inline li:nth-child(2) {
  margin-right: 0px;
  display: flex;
  width: 100%;
  justify-content: end;
}

#assessmentForm ul.list-inline li:last-child {
  display: flex;
  justify-content: end;
}

#assessmentForm ul.list-inline li button {
  width: 100px;
}

#assessmentForm ul.list-inline li:nth-child(2) button {
  margin-left: 5px;
}

#assessmentForm ul.pagination {
  overflow-y: auto;
  white-space: nowrap;
}

.formio-component p {
  padding-left: 14px;
}

#assessmentForm b {
  font-weight: bold;
  color: $base-color;
}

#assessmentForm span.page-link {
  color: #000;
}

#assessmentForm li.page-item.active .page-link {
  z-index: 3;
  color: #000;
  background-color: #e6efff;
  border-bottom: 2px solid #000 !important;
  border-color: #fff;
}

#assessmentForm input[type='checkbox']:checked:after,
#assessmentForm .radio input[type='checkbox']:checked:after,
#assessmentForm .radio-inline input[type='checkbox']:checked:after {
  border-color: $base-color;
  background: $base-color;
}

#assessmentForm button.saveas_btn,
#assessmentForm button.btn-primary.btn-wizard-nav-next,
#assessmentForm button.btn-primary.btn-wizard-nav-submit {
  background: $base-color;
  color: #fff;
  border: 0;
  font-size: $base-font-size;
  margin-left: 14px;
  margin-right: 14px;
  border-radius: 2px;
}

#assessmentForm button.btn-default,
#assessmentForm button.btn-primary.btn-wizard-nav-previous {
  background: #fff;
  color: $base-color;
  border: 1px solid $base-color;
  font-size: $base-font-size;
  margin-left: 14px;
  border-radius: 2px;
}

#assessmentForm .form-group .form-control {
  position: relative;
  padding: 10px;
  outline: 0;
  border-radius: 0px;
  transition: box-shadow 150ms ease-out;
  background: transparent;
}

.input-group-text {
  background: $base-color !important;
  color: #fff !important;
  font-size: $base-font-size !important;
}

#assessmentForm .panel-primary,
#assessmentForm .panel-info {
  border-color: #ffecef !important;
}

#assessmentForm .panel-primary > .panel-heading,
#assessmentForm .panel-default > .panel-heading,
#assessmentForm .panel-info > .panel-heading {
  color: #000000;
  background-color: #ffecef !important;
  border-color: #ffecef !important;
}

#assessmentForm .formio-component .input-group-addon {
  border: 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.42);
  background: transparent;
  padding: 9px 12px;
  border-radius: 0px;
}

#assessmentForm .custom-block,
.custom-block {
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 26px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  margin: 0px 0 20px;
  padding: 20px;
}

#assessmentForm .custom-block p {
  font-weight: 700;
  font-size: 14px;
}

#assessmentForm .formio-component .has-feedback .form-group label input {
  width: auto !important;
  height: auto;
  outline: 0px;
}

#assessmentForm .panel-primary .required:after {
  display: none;
}

#assessmentForm .form-group.f-italic .form-control {
  font-style: italic !important;
}

#assessmentForm .alert-danger {
  background: $danger-color;
  border-color: $danger-color;
  color: #736b6b;
}

#assessmentForm .alert-danger li strong {
  font-weight: 500;
}

div.formio-dialog.formio-dialog-theme-default .formio-dialog-content {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

.formio-dialog-content {
  .lead {
    font-size: 14px;
    font-weight: 600;
    color: $base-color;
  }

  .choices__item.choices__item--selectable,
  .col-form-label {
    font-size: $base-font-size !important;
  }

  input[type='checkbox'] {
    margin: 0px;
    position: relative;
    top: 2px;
    margin-right: 5px;
  }

  .has-feedback.formio-component {
    padding: 0px;
  }

  .formio-component {
    .card {
      .card-header {
        .card-title {
          font-size: 13px;
        }
      }
    }
  }

  .component-edit-container {
    .checkbox {
      padding-left: 0px;
    }
  }

  .formio-component-radio {
    .form-radio {
      .form-check-label {
        span {
          position: relative;
          top: -2px;
        }
      }
    }
  }

  .btn-success {
    background-color: $base-color;
    border-color: $base-color;
  }

  .btn-secondary {
    background-color: #fff;
    border-color: $base-color;
    color: $base-color;
  }

  .nav-tabs {
    .nav-item {
      a {
        border: 1px solid #9e9ad3;
        color: #fff;

        &:hover {
          border: 1px solid #c3c0f0;
        }
      }

      &.active {
        a {
          color: $base-color;
        }
      }
    }
  }

  .card {
    .card-header {
      background: $base-color;
      color: #fff;

      .card-title {
        font-weight: 600;
        font-size: 14px;
        color: #fff;
      }
    }
  }

  .col-form-label {
    color: $base-color;
  }

  .has-feedback .form-control {
    line-height: 26px;
    height: 36px;
  }
}

.drag-container {
  .checkbox {
    padding-left: 0px;
  }
}

.form-check.radio,
.checkbox.form-check {
  padding-left: 0px;

  .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
  }
  .form-check-label {
    span {
      position: relative;
      top: -2px;
    }
  }
}
.formio-component-narrative .ql-container.ql-snow {
  height: 150px;
}
